[Desktop Entry]
Version=1.0
Name=GNOME3 Wallpaper Agent
Exec=/home/cipherboy/GitHub/cipherboy/gnome3-wallpaper-agent/wallpaper_agent.py
Terminal=false
Type=Application
Icon=image-x-generic-symbolic
